
.icon-button {
  background-color: var(--bg);  
  transition: filter 300ms;
}

/* .icon-button:hover {
  filter: brightness(1.2);
} */

button {
    border: none;
    background-color: rgb(255, 255, 255);
    min-height: 25px;
    min-width: 150px;
    padding: 10px;
    font-family: 'Consolas';    font-size: 20px; 
    color: green;  
    
  }

  button:hover {
    background: rgb(170, 209, 166);
  }

  