button {
    border: none;
    background-color: rgb(255, 255, 255);
    min-height: 25px;
    min-width: 150px;
    padding: 10px;
    font-family: 'Consolas';    font-size: 20px; 
    color: green;  
    
  }

  button:hover {
    background: rgb(170, 209, 166);
  }

  